.price {
    font-size: 13pt;
    font-weight: bold;
}

.pagination {
    float: right;
}

#storeName {
 font-family: "Ubuntu", Tahoma, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body{
    font-family: "Ubuntu", Tahoma, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
