.price {
    font-size: 13pt;
    font-weight: bold;
}

.pagination {
    float: right;
}

#storeName {
 font-family: "Ubuntu", Tahoma, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body{
    font-family: "Ubuntu", Tahoma, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
@font-face {
    font-family: diamont;
    src: url('../fonts/diamont.ttf');
}
@font-face {
    font-family: candy;
    src: url('../fonts/candy.otf');
}
@font-face {
    font-family: squimpy;
    src: url('../fonts/squimpy.otf');
}
@font-face {
    font-family: variety;
    src: url('../fonts/Variety.ttf');
}
@font-face {
    font-family: bullpen hv it;
    src: url('../fonts/bullpen hv it.ttf');
}
@font-face {
    font-family: bullpen hv;
    src: url('../fonts/bullpen hv.ttf');
}
@font-face {
    font-family: bullpen d;
    src: url('../fonts/bullpen 3d.ttf');
}
.text-diamond{
    font-family: "bullpen d";
    font-size:30pt;

}

#custom-search-input {
    margin:0;
    margin-top: 0px;
    padding: 0;
}

#custom-search-input .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */

    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 0px;
    max-height:90%;
}

#custom-search-input button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color:#D9230F;
}

.search-query:focus + button {
    z-index: 3;
}